.novaTask .novaTaskBtn {
    padding: 10px;
    width: 15%;
    background-color: #007BFF;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}
  
.novaTask .novaTaskBtn:hover {
    background-color: #dcdcdc;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transition:all 0.3s ease;
}

.novaTask form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

/* Estilos para o texto do formulário */
.novaTask .text {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

/* Estilos para o título da nova tarefa */
.novaTask .text h3 {
    margin-bottom: 15px;
    font-size: 24px;
    color: #333;
}

.novaTask label{
    margin-left: 10px;
}

/* Estilos para os inputs e labels */
.novaTask
input[type="text"],
input[type="date"],
input[type="time"],
select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    margin-top: 5px;
    margin-bottom: 15px;
    width: 100%; 
}

/* Estilos para o checkbox do lembrete */
.novaTask input[type="checkbox"] {
    margin-right: 10px; 
}

/* Estilos para a seção de lembrete */
.novaTask .lembrete {
    align-items: center;
    margin-bottom: 15px;
}

/* Estilos para a escolha de subgrupos */
.novaTask .escolherSubgrupo {
    display: flex;
    flex-direction: column;
}

.novaTask .row {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

/* Estilos para o botão cancelar */
.novaTask .cancelar {
    justify-content: flex-end;
    cursor: pointer;
}

/* Estilos para o botão confirmar */
.novaTask .confirmar{
    padding: 10px;
    background-color: #007BFF;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.novaTask .confirmar:hover{
    background-color: #dcdcdc;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transition:all 0.3s ease;
}